.card-body{
    background-color:#F3F1EB;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3); 
}

.chat {
    height: 800px;
    max-height: 800px;
    overflow-y: auto;
    text-align: left;
    
}

.Chatbot{
    background-color: 	#ccb79e
}

@media (max-width: 576px) {
    .chat {
        max-height: 670px;
    }
}

@media (max-width: 375px) {
    .chat {
        max-height: 450px;
    }
}
/* Color de fondo para mensajes de usuario */
.Chatbot .chat .list-group-item.user {
    background-color: #F3F1EB; 
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);

}
/* Color de fondo para mensajes de asistente */
.Chatbot .chat .list-group-item.assistant {
    background-color: #E0E0E0; 
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}
/* Color rol del chat */
.Chatbot .chat .list-group-item strong {
    color: green;
    font-weight: bold;
    
}

.botMessaje img {
    width: 40px;
    height: 40px;
    border-radius: 30%;
    object-fit: cover;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3); 
}
.botMessaje p{
    color: green;
}
.card-footer{
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3); 
}