.card-body{
    background-color:#F3F1EB;
}

.chat {
    height: 800px;
    max-height: 800px;
    overflow-y: auto;
    text-align: left;
}



@media (max-width: 576px) {
    .chat {
        max-height: 670px;
    }
}

@media (max-width: 375px) {
    .chat {
        max-height: 450px;
    }
}
