.card-body{
    background-color:#F3F1EB;
}

.chat {
    height: 800px;
    max-height: 800px;
    overflow-y: auto;
    text-align: left;
}



@media (max-width: 576px) {
    .chat {
        max-height: 670px;
    }
}

@media (max-width: 375px) {
    .chat {
        max-height: 450px;
    }
}
/* Color de fondo para mensajes de usuario */
.Chatbot .chat .list-group-item.user {
    background-color: #F3F1EB; 
}
/* Color de fondo para mensajes de asistente */
.Chatbot .chat .list-group-item.assistant {
    background-color: #E0E0E0; 
}
/* Color rol del chat */
.Chatbot .chat .list-group-item strong {
    color: green;
    font-weight: bold;
}
