.loginpagina {
    width: 250px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: 500px;
    margin-top: 20px; /* Espacio desde arriba */
  }
  
  /* Media Queries */
  @media (max-width: 768px) {
    .loginpagina {
      width: 200px; /* Reducir el tamaño de la imagen en pantallas más pequeñas */
      height: 200px;
      margin-top: 15px; /* Ajustar el espacio desde arriba */
    }
  }
  
  @media (max-width: 480px) {
    .loginpagina {
      width: 150px; /* Reducir aún más el tamaño de la imagen en pantallas muy pequeñas */
      height: 150px;
      margin-top: 10px; /* Ajustar el espacio desde arriba */
    }
  }
  
  
  