.imgMockup {
  width: 100%;
  height: auto;
  max-width: 340px;
  max-height: 340px;
  border-radius: 30px;
}

@media (min-width: 768px) {
  .imgMockup {
    max-width: 480px;
    max-height: 480px;
  }
}

@media (min-width: 1024px) {
  .imgMockup {
    max-width: 640px;
    max-height: 640px;
  }
}